<!DOCTYPE html>

<html>
    <head>
        <title>Level 9</title>
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/level9.js"></script>
    </head>

    <body>
        <h1>Congrats, you've bested me. Theres only one thing left to do then, it was fun toying with you.</h1>
        <div class="img">
            <img src="/static/whoishe.png"> 
        </div>
        <div class="hidden">
            <h2>WHO IS HE</h2>
        </div>
        <form id ="level9Form" action="javascript:lvl9Check()">
            <input type="text" name="level9">
            <input type="submit" value="SUBMIT.">
        </form>
    </body>
</html>

<!-- FATE -->